/* ===== Universal Styles ===== */

* {
    box-sizing: border-box;
}

/* ===== Element Styles ===== */

body {
    font-family: 'Merriweather', serif;
    text-align: center;
    background-color: #eef1ef;
    color: #1c2321;
}

header {
    margin-bottom: 2px;
}

h1 {
    background-color: #7d98a1;
    text-transform: uppercase;
    font-size: 1.4em;
    white-space: nowrap;
}

h1, 
button, 
footer {
    color: #eef1ef;
    padding: 1em 2em;
}

h2, 
legend, 
button {
    font-size: 1.2em;
}

form {
    border-top: 2px solid #1c2321;
}

fieldset, 
input, 
textarea, 
select, 
button {
    border: none;
    outline: 0;
}

legend, 
.field > label,
span {
    text-align: left;
}

legend {
    font-weight: 800;
    padding-top: 1.5em;
}

label, 
span {
    font-size: .9em;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    background-color: #dadada;
    color: #5e6572;
    box-shadow: inset 0 1px 0 rgba(28,35,33,0.03);
    margin-bottom: 30px;
}

span {
    display: block;
}

span, 
.newsletter label[for="topics"] {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
    margin-top: 2px;
}

button {
    background-color: #a9b4c2;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.1);
    margin-bottom: 1em;
}

footer {
    background-color: #5e6572;
    margin-top: auto;
}

footer, 
input:required {
    font-style: italic;
}

/* ===== DRY Styles ===== */

.pad {
    padding-bottom: 1.5em;
}

.auto {
    margin: auto;
}

/* ===== Pseudo Classes and Elements ===== */

input:required {
    text-align: right;
}

input:focus, 
select:focus, 
textarea:focus,
button:focus {
    box-shadow: 0 0 2px 1px #5e6572;
}

input:focus, 
select:focus, 
textarea:focus {
    background-color: #ececec;
    transition: background-color 2s ease-out;
}

::placeholder {
    color: #acabab;
}

/* ===== Class Styles ===== */

.intro {
    padding-top: 1em;
    border-bottom: 5px solid black;
}

.intro, 
.wrapper {
    width: 95%;
}

.contact {
    border-bottom: 2px solid black;
}

.field {
    display: flex;
    flex-direction: column;
}

.field > label {
    padding-bottom: 15px;
}

.field > label:not([for="name"]) {
    padding-top: 15px;
}

.newsletter label, 
.newsletter input {
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* ===== ID Styles ===== */

#state {
    padding: 10px;
    height: 48px;
}

#zip {
    width: 60%;
}

/* ===== Media Query ===== */

@media (min-width: 768px) {

    .wrapper, 
    .intro {
        max-width: 1200px;
    }

        .contact label[for="name"] {
        padding-top: 15px;
    }

    .field {
        flex-direction: row;
        justify-content: initial;
    }

    .field > label {
        flex-basis: 20%
    }

    .field > input:not([id="zip"]), 
    .field > select {
        flex-basis: 75%;
    }

    #zip {
        max-width: 25%;
    }

}