* {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    text-align: center;
    background-color: #eef1ef;
}

h1 {
    background-color: #7d98a1;
    text-transform: uppercase;
    margin: auto;
}

h1, 
footer {
    color: #eef1ef;
    padding: 1em 2em;
}

fieldset {
    border: none;
}

label {
    text-align: left;
}

input {
    width: 100%;
}

footer {
    background-color: #5e6572;
    margin-top: auto;
    font-style: italic;
}

.column {
    display: flex;
    flex-direction: column;
}